#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.app-container {
  display: flex; /* Use flexbox to layout items horizontally */
  flex-wrap: nowrap; /* Allow items to wrap to the next line if the screen is narrow */
  justify-content: flex-start; /* Start placing items from the left */
  align-items: flex-start; /* Align items at the top of the container */
  margin-left: -75px;
  /* margin-right: -1000px; */
}

.graph-container {
  flex: 1; /* Allow the graph container to grow and take available space */
  padding: 20px; /* Add some padding for spacing */
  box-sizing: border-box; /* Include padding in width calculations */
  
}

.graph-item {
  margin-right: 50px; /* Add right margin to separate graph items */
  padding: 20px; /* Add some padding for spacing within graph items */
  box-sizing: border-box; /* Include padding in width calculations */
  display: flex; /* Use flex to allow background to fill the entire width */
  flex-direction: column; /* Stack children vertically */
  background-color: #f0f0f0; /* Optional background color for clarity */
  
}